
<section class="section blog">
  <div style="padding: 25px;">
    <div class="row section-heading">
      <div class="col-md-8 ">
        <div class="heading">
          <h2>Latest News</h2>
        </div>
      </div>
    </div>
    <div class="row">
        {{ range first 3 (where .Site.RegularPages "Type" "blog" )}}
        <div class="col-lg-4 col-md-6">
          <a href="{{ .Permalink | relURL}}">
          <div class="blog-item card border-0 mb-5 mb-lg-0">
            <img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt="{{ .Title }}" class="img-fluid">
            <div class="blog-caption">
              <h4 class="mt-2 mb-3">{{ .Title | markdownify }}</h4>
            </div>
          </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
</section>
  