<section id="latest-news" class="section blog">
    <div class="row section-heading">
      <div class="heading text-center">
        <h2>Map your route from Bratislava to <a href="https://2024.berlinbuzzwords.de/" target="_blank">Berlin Buzzwords</a></h2>
      </div>
    </div>


    <div class="container text-center">

      <p>There is no need to choose between Community Over Code in Bratislava or <a href="https://2024.berlinbuzzwords.de/" target="_blank">Berlin Buzzwords</a>, you can attend both, map your route and don't miss the opportunity to enjoy a week full of Open Source and data.</p>

      <br>
    <a href="https://2024.berlinbuzzwords.de/" target="_blank">
      <img src="/images/blog/berlin_buzzwords_cover.png" width="80%" class="img-fluid mx-auto d-block">
    </a>
      
  
    </div>
 

    
  </section>
  


