<section id="latest-news" class="section blog">
    <div class="row section-heading">
      <div class="heading text-center">
        <h2>Partner events</h2>
      </div>
    </div>

    <div class="container text-center">

      <p>There is no need to choose between Community Over Code in Bratislava or other events like <a href="https://2024.berlinbuzzwords.de/" target="_blank">Berlin Buzzwords</a>, you can attend both! <br>
        Map your route and don't miss the opportunity to enjoy a week full of Open Source and data.</p>  
        
  <div class="col-lg-12 col-md-12">
  <a href="https://2024.berlinbuzzwords.de/" target="_blank">
    <img src="/images/blog/BBuzz.png" style="border: 1px solid white" width="50%" class="img-fluid mx-auto d-block">
  </a>
  </div>

</div>
      
</section>
