<section class="section featured-speakers">
    <div class="container text-center">
      <div class="heading mb-4">
        <h2>Featured Speakers</h2>
        <p>Check out the featured speakers that we have confirmed so far. Remember that our Call for Papers is still open and we will be announcing many more speakers soon.</p>
      </div>
      <div class="speaker-strip">
        {{ range where (where (where .Site.Pages.ByTitle "Type" "speakers") "Kind" "term") "Params.featured" true }}
        <div class="speaker-item">
          <div class="speaker-block">
            <div class="headshot-box">
              <a href="{{.RelPermalink}}">
                {{ $img := resources.Get (index .Params.images 0) }}
                {{ $imgp := $img.Resize "400x webp" }}
                <img src="{{$imgp.RelPermalink }}" alt="Photo of {{.Title}}" class="img-fluid rounded-circle">
              </a>
            </div>
            <div class="speaker-info text-center">
              <h3 class="mt-3"><a href="{{.RelPermalink }}">{{ .Title }}</a></h3>
              <h4 class="">{{ .Params.designation }}</h4>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <hr class="section-divider">
    </div>
  </section>