<section id="partners" class="text-center py-4 text-dark">
  <div class="container">
    <h2 class="principles-header">SPONSORS</h2>

    {{range $index, $value := where (where .Site.RegularPages "Section" "partners") ".Params.level" "platinum" }}
      {{ if eq $index 0 }}
      <h3 class="my-3">Platinum</h3>
      <div class="sponsor-strip platinum">
      {{ end }}
        <div class="sponsor-item">
            <a title="{{ .Title }}" href="{{ .Params.webUrl }}" target="_blank">
                <img src="{{ .Params.logo }}" alt="{{ .Title }}">
            </a>
        </div>
    {{ end }}
    </div>

    <br>
    {{range $index, $value := where (where .Site.RegularPages "Section" "partners") ".Params.level" "gold" }}
      {{ if eq $index 0 }}
      <h3 class="my-3">Gold</h3>
      <div class="sponsor-strip gold">
      {{ end }} 
        <div class="sponsor-item">
          <a title="{{ .Title }}" href="{{ .Params.webUrl }}" target="_blank">
            <img src="{{ .Params.logo }}" alt="{{ .Title }}">
          </a>
        </div>    
        {{ end }}
    </div>


    {{range $index, $value := where (where .Site.RegularPages "Section" "partners") ".Params.level" "silver" }}
      {{ if eq $index 0 }}
      <h3 class="my-3">Silver</h3>

      <div class="sponsor-strip silver">
      {{ end }} 
        <div class="sponsor-item">
          <a title="{{ .Title }}" href="{{ .Params.webUrl }}" target="_blank">
            <img src="{{ .Params.logo }}" alt="{{ .Title }}">
          </a>
        </div>    
        {{ end }}
    </div>

    {{range $index, $value := where (where .Site.RegularPages "Section" "partners") ".Params.level" "community" }}
      {{ if eq $index 0 }}
        <h3 class="my-3">Community</h3>
        <div class="sponsor-strip community">
      {{ end }} 

        <div class="sponsor-item">
            <a title="{{ .Title }}" href="{{ .Params.webUrl }}" target="_blank">
                <img src="{{ .Params.logo }}" alt="{{ .Title }}">
            </a>
        </div>    
    {{ end }}
    </div>

    {{range $index, $value := where (where .Site.RegularPages "Section" "partners") ".Params.level" "diversity" }}
      {{ if eq $index 0 }}
      <h3 class="my-3">Diversity & Inclusion</h3>
      <div class="sponsor-strip diversity">
      {{ end }} 
        <div class="sponsor-item">
          <a title="{{ .Title }}" href="{{ .Params.webUrl }}" target="_blank">
            <img src="{{ .Params.logo }}" alt="{{ .Title }}">
          </a>
        </div>    
        {{ end }}
    </div>


    {{range $index, $value := where (where .Site.RegularPages "Section" "partners") ".Params.level" "partner" }}
    {{ if eq $index 0 }}
      <h3 class="my-3">Partner</h3>
      <div class="sponsor-strip community">
    {{ end }} 

      <div class="sponsor-item">
          <a title="{{ .Title }}" href="{{ .Params.webUrl }}" target="_blank">
              <img src="{{ .Params.logo }}" alt="{{ .Title }}">
          </a>
      </div>    
  {{ end }}
  </div>

    <br>
    
  </div>
</section>
