{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.schedule.schedule }}
<section class="section-schedule section">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-9">
        <div class="heading">
          <span class="stroke-text">{{ .title_outline }}</span>
          <div class="pl-90">
            <h2 class="mt-2">{{ .title | markdownify }}</h2>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="nav nav-pills nav-fill" role="tablist">
          {{ $.Scratch.Set "counter" 0 }}
          {{ range $index, $element := .schedule_tab }}
          {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
          <a class="nav-item nav-link {{ if eq $index 0 }} active {{ end }}" data-toggle="tab" href="#scheduleTab{{$.Scratch.Get `counter`}}"
            role="tab">
            <h2>{{ .title | markdownify }}</h2>
            <p>{{ .date_time | markdownify }}</p>
          </a>
          {{ end }}
        </nav>

        <div class="tab-content">
          {{ $.Scratch.Set "counter" 0 }}
          {{ range $index, $element := .schedule_tab }}
          {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
          <div class="tab-pane fade {{ if eq $index 0 }} show active {{ end }} " id="scheduleTab{{$.Scratch.Get `counter`}}" role="tabpanel">
            <ul class="mt-4 time-table pl-0 list-unstyled">
              {{ range .schedule_items }}
              <li class="d-md-flex align-items-center justify-content-between bg-light p-4 mb-3">
                {{ with .time }}
                <h4 class="time text-color">{{ . }}</h4>
                {{ end }}
                <div class="content">                
                <h3>
                {{ with .link }}<a href="{{ . }}">{{ end }}
                {{ with .title }}{{ . }}{{ end }}
                {{ with .link }}</a>{{ end }}
                </h3>
                {{ with .speaker }}<h6>{{ i18n "by" }} {{ . }}</h6>{{ end }}
                {{ with .lang }}<span>{{ i18n "language" }}: {{ . }}</span>{{ end }}
              </div>
            </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}