
body {
  scroll-behavior: smooth;
  background-color: #282661;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.home {
  // TODO: Change this to images/bg/background-stars.jpg once we have the real URL in place
  background-image: url("https://apache.github.io/apachecon-eu/images/bg/background-stars.jpg");
}

strong {
  font-weight: 600;
}

.section {
  padding: 20px 0px;
}

.mb-30 {
  margin-bottom: 30px;
}

.section-heading {
  margin-bottom: 30px;

  p {
    margin-top: 20px;
  }
}


.form-control {
  border-color: $border-color;
  height: 50px;
  padding-left: 20px;
  font-size: 13px;
  background: #eee;
}

.form-control:focus,
.form-control:hover,
.form-control:active {
  box-shadow: none;
  border-color: $primary-color;
}


.bg-secondary {
  background: $secondary-color !important;
}


.bg-primary {
  background: $primary-color !important;
}

.content-padding {
  padding: 220px 0px 200px 0px;
}

.btn {
  padding: 12px 18px;
  box-shadow: 0 11px 22px rgba(34, 34, 34, .2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  will-change: box-shadow;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: $base-font;
}

.btn-rounded {
  border-radius: 60px;
}

#nav-button {
  line-height:25px !important;
  font-size: 1.2em;
  font-weight: 700;
}

.btn-gray {
  background: $gray-light;
  color: $black;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.text-black {
  color: $black;
}

.text-color {
  color: $primary-color;
}

.text-md {
  font-size: 45px;
  line-height: 1.2;
}

.box-shadow {
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.1);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.overflow-hidden {
  overflow: hidden;
}

.title {
  strong {
    color: $primary-color;
  }
}

.btn {
  text-transform: none;
  font-weight: 600;
}