

@media screen and (max-width: 768px){
 .count-down {
    justify-content: space-between !important;
}
}


.count-down {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
		display: grid;
        align-items: center;
        justify-content: center;
        margin-left: 40%;
	}

}

@media screen and (max-width: 768px){

.count-down .circle-progress-wrap {
    margin-right: 0;
}
}


.count-down .circle-progress-wrap {
    text-align: center;
    padding: 0px 50px 0px 50px;

	@include tablet {
		padding: 0px 20px 0px 20px;
	}
	@include mobile {
		padding: 0px 3px 0px 3px;
	}
}


.count{
    font-size: 1em;
    font-weight: 500;

}