
.client-item {
	a {
		display: block;
	}

	float: left;
	width: 15%;
	height: 115px;
	border:1px solid rgba(255, 255, 255, 0.05);
	padding: 20px;
	text-align: center;
	opacity: .7;
	-webkit-transition: all .45s ease-in-out;
	-moz-transition: all .45s ease-in-out;
	-ms-transition: all .45s ease-in-out;
	-o-transition: all .45s ease-in-out;
	transition: all .45s ease-in-out;

	&:hover {
		opacity: 1;
		background: $black;
	}

	@include desktop {
		width: 20%;
	}

	@include tablet {
		width: 30%;
	}

	@include mobile {
		width: 40%;
	}

	@include mobile-xs {
		width: 50%;
	}
}

.bg-black {
	background: #000;
}

.letter-spacing {
	letter-spacing: 2px;
	text-transform: uppercase;
}

.text-sm {
	font-size: 14px;
}

.bg-gray {
	background: #eee;
}

section.sponsors {
	background-color: white;
}

.sponsor-strip.platinum {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;

	.sponsor-item {
		width: 270px;
		margin: 25px 50px 5px 50px;
	}

}

.sponsor-strip.gold {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;

	.sponsor-item {
		width: 240px;
		margin: 0px 40px 25px 40px;
	}

}

.sponsor-strip.silver {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;

	.sponsor-item {
		width: 200px;
		margin: 0px 40px 25px 40px;
	}
}

.sponsor-strip.local {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;

	.sponsor-item {
		width: 200px;
		margin: 0px 40px 25px 40px;
	}
}


.sponsor-strip.community {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;

	.sponsor-item {
		width: 160px;
		margin: 0px 25px 20px 25px;
	}

}

.sponsor-strip.diversity {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;

	.sponsor-item {
		width: 160px;
		margin: 0px 25px 20px 25px;
	}

}