
.sponsors h2{
	text-align: center; 
}

section.sponsors {
	background-color: white;
	h2, h3, h4 {
		color: #404040;
	}
}

.sponsors-box {
	padding-top: 1em;
}

.bg-black {
	background: #000;
}

.letter-spacing {
	letter-spacing: 2px;
	text-transform: uppercase;
}




.platinum .sponsor-item {
	width: 300px;
}

.gold .sponsor-item {
	width: 260px;
}

.silver .sponsor-item {
	width: 240px;
}

.community .sponsor-item {
	width: 180px;
}

.previous .sponsor-item {
	width: 160px;
}


.sponsor-strip {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.sponsor-strip.old1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

    .sponsor-item {
	    width: 16%;
    	padding: 0em;

 	    @include tablet {
		    width: 50%;
    	}

	    @include mobile {
		    width: 90%;
    	}
    }
}

.sponsor-strip.old2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;

	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include mobile {
		grid-template-columns: 1fr;
	}

}


.sponsor-strip.old3 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 40px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;

	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include mobile {
		grid-template-columns: 1fr 1fr;
	}

}
.sponsor-strip.old4 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 30px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;

	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include mobile {
		grid-template-columns: 1fr 1fr;
	}

}

.sponsor-strip.old5 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 30px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;

	@include tablet {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	@include mobile {
		grid-template-columns: 1fr 1fr 1fr;
	}

}
