{{ define "main" }}

<section class="speaker-2 section">
  <div class="container">
    <div class="mb-4">
      {{ .Content }}
    </div>
    <div class="speaker-strip">
      {{ range .Data.Pages.ByTitle }}
      <div class="speaker-item">
        <div class="speaker-block">
          <div class="headshot-box">
            <a href="{{.Permalink}}">
              {{ $img := resources.Get (index .Params.images 0) }}
              {{ with $img }}
                {{ $imgp := $img.Resize "400x webp" }}
                <img src="{{$imgp.RelPermalink }}" alt="Photo of {{.Title}}" class="img-fluid rounded-circle">
              {{ end }}  
          </a>
        </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="{{.RelPermalink }}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}