{{ define "main" }}

<!-- Speaker Detail -->
<section class="speaker-detail">
  <div class="container">
      <div class="row">
          <div class="image-column col-md-4 col-lg-3 col-sm-12">
                {{ $img := resources.Get (index .Params.images 0) }}
                {{ with $img }}
                  {{ $imgp := $img.Resize "400x webp" }}
                  <img src="{{$imgp.RelPermalink }}" alt="Photo of {{.Title}}" class="img-fluid rounded-circle">
                {{ end }}  

                  <ul class="social-icon-two social-icon-colored text-center">
                      {{ with .Params.twitter }}
                      {{ if ne . "" }}
                      <li><a href="{{ . }}" target="_blank"><span class="fab fa-twitter"></span></a></li>
                      {{ end }}
                      {{ end }} 

                      {{ with .Params.linkedin }}
                      {{ if ne . "" }}
                      <li><a href="{{ . }}" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                      {{ end }}
                      {{ end }} 

                      {{ with .Params.github }}
                      {{ if ne . "" }}
                      <li><a href="{{ . }}" target="_blank"><span class="fab fa-github"></span></a></li>
                      {{ end }}
                      {{ end }}

                      {{ with .Params.facebook }}
                      {{ if ne . "" }}
                      <li><a href="{{ . }}" target="_blank"><span class="fab fa-facebook"></span></a></li>
                      {{ end }}
                      {{ end }}
                  </ul>
          </div>

          <div class="info-column col-md-8 col-sm-12">
              <div class="inner-column">
                  <div class="text-box">
                      {{ with .Params.designation }}<h3>{{.}}</h3>{{ end }}
                      <p>{{ .Content }}</p>
                      <h4>Sessions by {{ .Title }}</h4>

                      <!-- Sessions speaker -->
                      <ul>
                      {{ range (.Data.Pages.ByParam "time_start").Reverse }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ with .Params.time_start | time }} ({{ .Format "2006" }}){{ end }}</li>
                      {{ end }}
                      </ul>
                      <!-- Sessions speaker end -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End Speker Detail -->

{{ end }}